.wrapper {
  display: flex;
  align-items: center;
  background-image: url("../../img/promotion/tbl1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  width: 20rem;
  height: 11rem;
  margin: auto;
}

.activityImg {
  width: 4.7rem;
  height: 4.3rem;
  border-radius: 30%;
}

.leftContentContainer {
  padding-left: 2.9rem;
  padding-top: 0.9rem;
  margin-right: 1rem;
}

.rightContentContainer {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
  padding-top: 3rem;
  padding-left: px;
}

.rightContentContainer span {
  font-size: 11px;
  text-align: center;
}

.acbLogo {
  width: 35px;
  height: auto;
  padding-bottom: 5px;
  padding-top: 5px;
}

.specialButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../img/btn-blue-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 6rem;
  height: 5rem;
}

.specialButtonContainer > img {
  width: 23px;
  height: 20px;
  margin-bottom: 30px;
}

.specialButtonContainer > span {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  padding-right: 10px;
  margin-bottom: 30px;
}
