.wrapper {
  display: flex;
  width: 18rem;
  background-color: rgba(255, 255, 255, 0.34);
  align-items: center;
  margin-bottom: 0.9rem;
}

.wrapper img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 20%;
  box-shadow: 1px 1px 1px #000000;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  width: 9.5rem;
  margin-left: 7px;
}

.title {
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 2px;
}

.description {
  font-size: 11px;
}

.specialButton {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  padding-bottom: 5px;
  width: 4rem;
  height: 2.5rem;
  background-color: #4ba82f;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
}

.specialButton img {
  width: 24px;
  height: 22px;
}

.specialButton > span {
  padding-right: 0.5rem;
}

.specialButton > img,
.specialButton > span {
  vertical-align: middle;
}
